header {
    min-height: 60px;

    .logo-link {
        float: left;
    }
    
    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        height: 60px;
        border-radius: 30px;
        transition-duration: 0.8s;
        transition-property: transform;
    }

    .logo-link img:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
