.page-title {
	text-align: center;
}

.page-content a {
	color: $theme_color;
}

.friend-item-0 {
	padding: 1em 0 2em;
}

.friend-item {
	padding: 1em 0 2em;
	border-top: 1px solid #ddd;
}

.friend-statement {
	float: right;
	color: #b3b3b3;
}